<div class="home-feature-container" >
<button class="home-feature" type="button" name="button" data-toggle="modal" data-target="#myModal">+</button>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Task</h4>
      </div>

      <div class="modal-body">
        <div class="form-group">
          <select class="form-control" id="sel1" [(ngModel)]="class1">
            <option selected="selected"> </option>
            <option *ngFor="let class of classes">{{class.className}}</option>
          </select>
        </div>
        <input [(ngModel)]="text" type="text" class="form-control" name="" value="">
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="saveTask()">Save Task</button>
      </div>
    </div>
  </div>
</div>
