<div class="container">
<h2>Classes</h2>
<div class="class-container" *ngFor="let class of classes">

		
			<h4 style="display: inline-block;"[style.color]=class.color>{{class.className}}</h4>
			<span class="color-circle" [style.backgroundColor]="class.color"></span>
			<span class="color-circle" [style.backgroundColor]="class.secColor"></span>

		
	
  
  
   
</div>

<input type="text" name="" value="" [(ngModel)]="className">
<input  type="color" name="" value="" class="btn btn-primary" [(ngModel)]="color">
<input  type="color" name="" value="" class="btn btn-primary" [(ngModel)]="secColor">
<button class="btn btn-primary" type="button" name="button" (click)="saveClass()">Add Class</button>
</div>